name: vscode

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
    paths:
      - .github/workflows/vscode.yaml
      - extensions/vscode/**

  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/vscode.yaml
      - extensions/vscode/**

jobs:
  build:
    defaults:
      run:
        working-directory: extensions/vscode

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.5

      - name: Setup node
        uses: actions/setup-node@v4

      - name: Install Dependencies
        run: npm install

      - name: Check Format
        run: npm run format:check

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run compile
